/* Обнуляем стили по умолчанию */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

/* Основные стили для body и html */
html, body {
    height: 100%;
    margin: 0; 
    display: flex;
    flex-direction: column;
    background-image: url(../img/back.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; 
}

/* Стили для шапки */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header-container {
    /* Здесь могут быть дополнительные стили для контейнера шапки */
}

/* Стили для навигации */
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.menu.scrolled {
    background-color: #333333; /* Фон при прокрутке */
}

.menu-list {
    font-weight: 600;
    font-size: 16px;
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    gap: 51px;
}

.menu-item {
    display: flex;
    align-items: center;
}

.menu-link {
    color: white;
    padding: 10px 20px; 
    transition: color 0.3s ease;
}

.menu-link:hover {
    color: #B59571; 
}

/* Стили для бургер-меню */
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 1001;
}

.burger .line {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
}

/* Плавный переход для изображений */
.image-link-geo img,
.image-link-instagram img,
.image-link-tel img,
.logo img {
    transition: 0.3s ease; 
}

/* Изображения при наведении */
.image-link-geo:hover img {
    content: url(../img/geo2.png); 
}

.image-link-instagram:hover img {
    content: url(../img/insta2.png); 
}

.image-link-tel:hover img {
    content: url(../img/tel2.png); 
}

.image-link-facebook:hover img {
    content: url(../img/facebook2.png); 
}

.logo:hover img {
    content: url(../img/logo2.png); 
}

/* Стили для модального окна */
/* Стили для модального окна */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
    transition: opacity 0.3s ease; 
}

.modal-logo {
    display: block; /* Чтобы изображение располагалось на новой строке */
    margin: 0 auto; /* Центрирование изображения */
    max-width: 100%; /* Ограничение ширины изображения */
    height: auto; /* Поддержка пропорций изображения */
    margin-bottom: 15px; /* Отступ снизу для разделения с текстом */
}

.modal-content {
    display: flex;
    flex-direction: column; /* Вертикальная компоновка */
    align-items: center; /* Центрирование по горизонтали */
    justify-content: center; /* Центрирование по вертикали */
    text-align: center; /* Центрирование текста */
    color: white;
    border-radius: 10px;
    background-color: #333333;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: slide-in 0.5s ease; 
    position: relative; /* Для абсолютного позиционирования кнопки закрытия */
}
.modal-content h3 {
    color: #B59571; /* Пример: задаёт цвет текста заголовка */
    font-size: 24px; /* Пример: задаёт размер шрифта заголовка */
    text-align: center; /* Пример: центрирование текста */
    margin: 10px 0; /* Пример: отступы сверху и снизу */
}

.close-button {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute; /* Позволяет разместить кнопку в правом верхнем углу */
    top: 10px; /* Отступ от верхнего края */
    right: 15px; /* Отступ от правого края */
}

.close-button:hover,
.close-button:focus {
    color: white; /* Изменение цвета при наведении */
    cursor: pointer;
}

.modal-content a {
    color: #B59571; /* Цвет ссылки */
    text-decoration: none; /* Убирает подчеркивание (по желанию) */
}

.modal-content a:hover {
    text-decoration: underline; /* Подчеркивание при наведении (по желанию) */
}


/* Основной контент */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

/* Стили для текста */
h1 {
    font-size: 54px;
    font-weight: bold;
}

p {
    font-weight: 400;
    font-size: 18px;
}

/* Описание */
.about {
    position: relative;
    background-color: rgba(34, 33, 33, 0.3);
    padding: 40px; 
    max-width: 800px; 
    border-radius: 20px; 
    box-shadow: 0 40px 40px rgba(0, 0, 0, 0.10);
    color: white;
    margin-top: 100px; 
}

/* Стили для баров */
.bar {

    border: 1px solid #888;
    padding: 15px;
    background-color: #333333;
    border-radius: 10px; /* Добавлено скругление */
}

.bar a {
    margin-right: 15px; /* Установите желаемое значение отступа */
}

.bar a:last-child {
    margin-right: 0; /* Убираем отступ у последнего элемента */
}

/* Стили для меню */
.menu-file {
    height: 718px;
    width: 1076px;
    margin-top: 323px; /* Отступ сверху */
    margin-bottom: 87px; /* Отступ снизу для расстояния между меню и прямоугольниками */
    font-weight: 600;
    font-size: 20px;
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    padding: 10px; 
}

.menu-header {
    display: flex;
    align-items: center; 
    gap: 10px; 
}

.line {
    width: 59px;
    height: 3px;
    background-color: #B59571; 
}

.about-menu {
    margin-top: 0; 
    margin-bottom: 87px;
    align-self: flex-start; 
}

.our-menu {
    display: flex;
    gap: 20px; 
    justify-content: center; 
    align-items: center; 
    /* Убедитесь, что у вас нет margin-top для .our-menu */
}

.rectangle {
    padding-top: 40px; 
    padding-left: 40px;
    background-color: transparent; 
    border: 2px solid #B5B5B5; 
    margin: 20px auto; /* Центрирование */
    width: 416px;
}
.our-menu .rectangle {
    transition: transform 0.3s ease, opacity 0.3s ease; /* Плавный переход */
}

.our-menu .rectangle:hover {
    transform: scale(1.005); /* Увеличение элемента */
    opacity: 0.9; /* Немного затемнить при наведении */
}

.our-menu .rectangle img {
    transition: transform 0.3s ease; /* Плавный переход для изображения */
}

.our-menu .rectangle:hover img {
    transform: scale(1.05); /* Увеличение изображения при наведении */
}


/* Медиа-запросы для мобильных устройств и планшетов */
@media (max-width: 768px) {
    .menu-list {
        flex-direction: column; /* Вертикальное расположение для мобильных */
        gap: 10px;
        display: none; /* Скрыть список по умолчанию */
        background-color: #333; /* Фон меню */
        position: absolute;
        top: 60px; /* Положение под навигацией */
        left: 0;
        width: 100%;
    }

    .menu-list.active {
        display: flex; /* Показать меню, когда оно активно */
    }

    .burger {
        display: flex; /* Показать бургер-меню */
    }

    h1 {
        font-size: 36px; /* Уменьшение размера заголовка */
    }

    p {
        font-size: 16px; /* Уменьшение размера текста */
    }

    .modal-content {
        width: 90%; /* Ширина модального окна на мобильных */
    }

    .menu-file {
        height: auto; /* Убираем фиксированную высоту */
        width: auto; /* Убираем фиксированную ширину */
    }

    .about {
        padding: 20px; /* Уменьшаем отступы */
    }

    .bar a {
        margin-right: 10px; /* Уменьшаем отступы между иконками */
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 28px; /* Дополнительное уменьшение заголовка для маленьких экранов */
    }

    .menu-link {
        padding: 8px 10px; /* Уменьшаем отступы в навигации */
    }

    .close-button {
        font-size: 24px; /* Уменьшение размера кнопки закрытия */
    }
}
/* Стили для футтера */
footer {
    background-color: #333333; /* Темный фон футтера */
    color: white; /* Цвет текста */
    padding: 20px; /* Отступы вокруг содержимого */
    text-align: center; /* Центрирование текста */
    font-size: 14px; /* Размер шрифта */
    position: relative; /* Позволяет использовать z-index */
}

.footer-logo {
    margin-bottom: 10px; /* Отступ снизу для логотипа */
}

.footer-links {
    margin: 10px 0; /* Отступы для ссылок */
}

.footer-links a {
    color: #B59571; /* Цвет ссылок */
    text-decoration: none; /* Убирает подчеркивание */
    margin: 0 15px; /* Отступы между ссылками */
    transition: color 0.3s ease; /* Плавный переход цвета */
}

.footer-links a:hover {
    color: #fff; /* Цвет ссылки при наведении */
}

.footer-bottom {
    margin-top: 20px; /* Отступ сверху для нижней части футтера */
    font-size: 12px; /* Меньший размер шрифта */
    color: #aaa; /* Более светлый цвет для нижнего текста */
}

/* Адаптивные стили */
@media (max-width: 768px) {
    footer {
        font-size: 12px; /* Уменьшение размера шрифта на мобильных */
    }
}

